<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>pyDAP help page for file $location</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link media="all, screen" href="ndg2.css" type="text/css" rel="stylesheet"/>
    </head>

    <body>
        <div>
            <div id="header"></div>
            <div id="logo"><img src="NERC_Logo.gif" alt="Natural Environment Research Council"/></div>
        </div>
        <h1>How to access this file</h1>

        <p>The resource <code>$location</code> is a dataset available through the <a href="http://opendap.org/">OPeNDAP</a> protocol. The best way to access this dataset is using an <a href="http://www.opendap.org/faq/whatClients.html">OPeNDAP client</a> like Ferret, GrADS or Matlab.</p>

        <p>In case you <strong>don't have</strong> a client installed, you can try to download data by accessing the <a href="${location}.html">web interface</a> for this dataset.</p>

        <div id="Footer">
            
            <center><table><tbody>
                <tr>
                    <td width="60%" align="left">
                        <table><tbody>
                            <tr>
                                <td><span>
                                    <a href="http://ndg.nerc.ac.uk/"><image src="ndg_logo_circle.gif" alt="NDG" title="NDG"></image></a>
                                </span></td>
                                <td><a href="http://pydap.org">pydap/$version</a> based OPeNDAP site for <a href="http://ndg.nerc.ac.uk">NERC DataGrid</a>.
                                    
                                    This site is for test purposes only and is under active development.</td>
                            </tr>
                        </tbody></table>
                    </td>
                    <td align="right"><span>
                        <a href="http://www.stfc.ac.uk/"><image src="stfc-circle-sm.gif" alt="Hosted by the STFC CEDA" title="Hosted by the STFC CEDA"></image></a>
                    </span></td>
                </tr>
            </tbody></table></center>
        </div>    </body>
</html>
