body 
{
font-family : Verdana, Arial, Clean, Helvetica, sans-serif, "MS sans serif"; 
font-size: small; 
color: black;
background-color: rgb(255,255,255);   
}

.indent {
margin-left: 20px;
margin-right: 20px;
margin-top: 60px;
}

h1 {
color: #333399;
background-color: #ffffff;
}

h1.orangeOnBlue, h2.orangeOnBlue, h3.orangeOnBlue, h4.orangeOnBlue
{
color: #ffa500;
background-color: #333399;
}

/*    A.menu and div.lastm are used by the badc tabs and footer  */                                            

A.menu, A:link.menu, A:visited.menu, a:hover.menu {
font-size : 9pt; 
font-weight: bold;
font-family : Verdana, Clean, Arial, Helvetica, sans-serif, "MS sans serif"; 
color: white;
text-decoration: none;
}

a:hover.menu, a:active.menu {
font-size : 9pt; 
font-weight: bold;
font-family : Verdana, Clean, Arial, Helvetica, sans-serif, "MS sans serif"; 
color: white;
text-decoration: underline;
}

A.orangeOnBlue, A:link.orangeOnBlue, A:visited.orangeOnBlue, a:hover.orangeOnBlue 
{
color: #ffa500;
background-color: #333399;
text-decoration: none;
}

a:hover.orangeOnBlue, a:active.orangeOnBlue 
{
color: #ffa500;
background-color: #333399;
text-decoration: underline;
}

div.lastm {	font-size : 8pt; 
font-weight: normal;
font-family : Verdana, Arial, Clean, Helvetica, sans-serif, "MS sans serif"; 
color: #ffffff;
text-decoration: none;}

div.quote {	font-size : 12pt; 
font-weight: normal;
font-family : Courier, monospace; 
color: #000000;
text-decoration: none;}

.highlight { background-color:#5f99ff;}

div.badcDarkBlue
{
text-align: left;
color: white;
background-color: #333399
}

div.badcLightBlue
{
text-align: left;
color: white;
background-color: #5f99ff
}

td.badcLightBlue
{
text-align: left;
color: white;
background-color: #5f99ff
}

td.badcDarkBlue
{
text-align: left;
color: white;
background-color: #333399
}